:root {
    --color:          hsl(0,0%,22%);
    --color-border:   hsl(0,0,88%);
    --color-button:   hsl(116, 30%, 36%);;
    --color-bg:       rgb(245,245,245);
    --color-hover:    rgba(0, 0, 0, 0.098);
  }